:root{
    --primary: #F74A5C;
    --black: #3e3e3e;
    --gary: #8c8c8c;
    --white: #fff;
    --blue: #4285eb;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat' , sans-serif;
    color: var(--black);
    background: no-repeat center/cover url(Fondo2.webp); 
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
a{
    text-decoration: none;
    color: var(--primary);
}
.input-grup{
    position: relative;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 1px solid var(--gary);
    border-radius: 0.25rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 5px 15px -5px rgb(0 0 0 / 15%);
    transition: all .2s ease-in-out;
    outline: none;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{
    border-color: var(--blue);
    box-shadow: 0px 5px 15px -5px rgba(6 , 133 , 235 , 0.5);
}
.texp{
    color: var(--primary);
}
.texc{
    text-align: center;
}
.btn{
    height: 40px;
    width: 100%;
    border: 1px solid var(--gary);
    color: var(--black);
    margin: 1rem 0;
    padding: 0 1rem;
    border-radius: 20px;
    transition: all .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn.btn-primary{
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);
}
.btn:hover{
    background-color: var(--black);
    border: var(--gary);
}

.login{
    padding: 3rem 2rem;
    background: linear-gradient(130deg, rgb(255 255 255 / 75%), transparent);
    border-radius: 1rem;
    backdrop-filter: blur(12px);
    max-width: 380px;
}
.btn > .iconify{
    margin-right: 0.5rem;
}

.passbtn{
    position: absolute;
    height: 40px;
    right: 0.5rem;
    display: flex;
    top: 0;
    align-items: center;
    font-size: 1.375rem;
    color: var(--gray);
}

.passbtn:before{
    content: "";
    width: 2px;
    height: 20px;
    background: var(--gary);
    position: absolute;
    transform: rotate(45deg);
    left:10px;
    transition: all .2s ease-in-out;

}
.passbtn.active:before{
    transform: rotate(45deg) scale(0);
}
